/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
.idea/
*.iml
.vscode/
target/
out/
build/
logs/
*.log
.DS_Store
Thumbs.db
.sonarlint/
*.pb
*.tmp
*.swp
.worktrees/
.agent
.codex
tmp/
pending/pending-version-assignment/*
!pending/pending-version-assignment/.gitkeep
dev-data/**/*
!dev-data/**/.gitkeep
